{% extends "base.html" %}

{% block content %}
<h2>Prepayment</h2>
<h3>Introduction</h3>

<div id="markdown-content">
    {{ md_content|safe }}
</div>

<h3>Prepayment Probability</h3>

<form id="prepayment-probability-form" method="post" class="form-grid">
    <div class="form-group">
        <label for="orig_rate">Original Interest Rate:</label>
        <input type="number" step="0.001" id="orig_rate" name="orig_rate" value="{{ form_data.get(orig_rate) }}" required>
    </div>

    <div class="form-group">
        <label for="market_rate">Current Market Rate:</label>
        <input type="number" step="0.001" id="market_rate" name="market_rate" value="{{ form_data.get(market_rate) }}" required>
    </div>

    <div class="form-group">
        <label for="orig_fico">Original FICO Score:</label>
        <input type="number" id="orig_fico" name="orig_fico" value="{{ form_data.get(orig_fico) }}" required>
    </div>

    <div class="form-group">
        <label for="loan_age">Loan Age (in Month):</label>
        <input type="number" id="loan_age" name="loan_age" value="{{ form_data.get(loan_age) }}" required>
    </div>

    <div class="form-group">
        <label for="orig_ltv">Original Loan to Value Ratio:</label>
        <input type="number" id="orig_ltv" name="orig_ltv" value="{{ form_data.get(orig_ltv) }}" required>
    </div>

    <div class="form-group">
        <label for="intercept">Logit Regression Intercept:</label>
        <input type="number" step="0.001" id="intercept" name="intercept" value="{{ form_data.get(intercept) }}" required>
    </div>

    <div class="form-group">
        <label for="beta_spread">Spread Coefficient:</label>
        <input type="number" step="0.001" id="beta_spread" name="beta_spread" value="{{ form_data.get(beta_spread) }}" required>
    </div>

    <div class="form-group">
        <label for="beta_fico">FICO Coefficient:</label>
        <input type="number" step="0.001" id="beta_fico" name="beta_fico" value="{{ form_data.get(beta_fico) }}" required>
    </div>

    <div class="form-group">
        <label for="beta_loan_age">Loan Age Coefficient:</label>
        <input type="number" step="0.001" id="beta_loan_age" name="beta_loan_age" value="{{ form_data.get(beta_loan_age) }}" required>
    </div>

    <div class="form-group">
        <label for="beta_ltv">LTV Coefficient:</label>
        <input type="number" step="0.001" id="beta_ltv" name="beta_ltv" value="{{ form_data.get(beta_ltv) }}" required>
    </div>

    <div class="form-group full-width">
        <button type="submit">Calculate Prepayment Probability</button>
    </div>

</form>

{% if prepayment_results is not none %}
<div class = "result">
    <h4>Prepayment Probability: {{ prepayment_results }} %</h4>
</div>
{% endif %}

{% endblock %}