OpenAI_API_Key="xxx"
Base_URL="https://atlas.protiviti.com/xxx"
Model="gpt-5-4-20260305-gs"
API_Version="2025-04-01-preview"
Auth_headers = "Experimentyyyymmdd-Subscription-Key"


FRED_API_Key="xxx"

SECRET_KEY=replace_with_a_secure_random_value_for_local_development
FLASK_ENV=development
FLASK_DEBUG=true
LOG_LEVEL=INFO
