Flask>=2.0.3
pandas>=1.3.5
matplotlib>=3.4.3
numpy>=1.21.4
scipy>=1.7.1
yfinance>=0.1.70
seaborn>=0.11.1
QuantLib>=1.23
markdown>=3.4.1
openai>=0.27.2
reportlab>=3.6.12
python-dotenv>=1.0.0
fredapi >= 0.5.2
python-dateutil==2.8.2
