{% extends "base.html" %}

{% block content %}

<h2>Forwards Contract</h2>
<h3>Introduction</h3>

<div id="markdown-content">
    {{ md_content|safe }}
</div>

<div class="loading-spinner" id="loadingSpinner" style="display: none;">
    <div class="spinner"></div>
</div>

<h3>Forwards Pricing</h3>
<form id="forwards-form" method="post" class="form-grid">
    <div class="form-group">
        <label for="ticker">Ticker:</label>
        <input type="text" step="0.01" id="ticker" name="ticker" value="{{ form_data.ticker }}" required>
    </div>
    <div class="form-group">
        <label for="contract_fee">Contract Fee ($):</label>
        <input type="number" step="0.01" id="contract_fee" name="contract_fee" value="{{ form_data.contract_fee }}" required>
    </div>
    <div class="form-group">
        <label for="risk_free_rate">Risk-Free Rate (%, 0.05):</label>
        <input type="number" step="0.001" id="risk_free_rate" name="risk_free_rate" value="{{ form_data.risk_free_rate }}" required>
    </div>
    <div class="form-group">
        <label for="dividend_yield">Dividend Yield (%, 0.05):</label>
        <input type="number" step="0.001" id="dividend_yield" name="dividend_yield" value="{{ form_data.dividend_yield }}" required>
    </div>

    <div class="form-group">
        <label for="settlement_price">Settlement Price ($):</label>
        <input type="number" step="0.01" id="settlement_price" name="settlement_price" value="{{ form_data.settlement_price }}" required>
    </div>
    <div class="form-group">
        <label for="num_contracts"># of Contracts:</label>
        <input type="number" step="0.01" id="num_contracts" name="num_contracts" value="{{ form_data.num_contracts }}" required>
    </div>
        <div class="form-group">
        <label for="multiplier">Multiplier:</label>
        <input type="number" step="0.01" id="multiplier" name="multiplier" value="{{ form_data.multiplier }}" required>
    </div>

    <div>
        <div class="form-group">
        <label for="entry_date">Entry Date:</label>
        <input type="date" step="0.01" id="entry_date" name="entry_date" value="{{ form_data.entry_date }}" required>
    </div>
    
    </div>
        <div class="form-group">
        <label for="settlement_date">Settlement Date:</label>
        <input type="date" step="0.01" id="settlement_date" name="settlement_date" value="{{ form_data.settlement_date }}" required>
    </div> 
    <div class="form-group">
        <label for="position">Position:</label>
        <select id="position" name="position" required>
            <option value="long" {% if form_data.position == "long" %}selected{% endif %}>Long</option>
            <option value="short" {% if form_data.position == "short" %}selected{% endif %}>Short</option>
        </select>
    </div>
    <div class="form-group">
        <label for="model_selection">Model Selection:</label>
        <select id="model_selection" name="model_selection" required>
            <option value="risk_adjusted" {% if form_data.model_selection == "risk_adjusted" %}selected{% endif %}>Risk-Adjusted Model</option>
            <option value="cost_carry_model" {% if form_data.model_selection == "cost_carry_model" %}selected{% endif %}>Cost Carry Model </option>
        </select>
    </div>      
    <div class="form-group">
        <label for="convenience_yield">Convenience Yield (%, 0.05):</label>
        <input type="number" step="0.001" id="convenience_yield" name="convenience_yield" value="{{ form_data.convenience_yield }}">
    </div>
    <div class="form-group">
        <label for="storage_cost">Storage Cost ($):</label>
        <input type="number" step="0.001" id="storage_cost" name="storage_cost" value="{{ form_data.storage_cost }}">
    </div>
    <div class="form-group full-width">
        <button type="submit">Calculate Forwards Price & Profit/Loss</button>
    </div>
</form>



<div id="results-section">
    {% if forward_price_results is not none %}
    <div class="result">
        <h4>Forward Price: {{ forward_price_results }}</h4>
    </div>
    {% endif %}
    
    {% if forward_price_results is not none %}
    <div class="result">
        <h4>Forward Profit/Loss: {{ forward_pL }}</h4>
    </div>
    {% endif %}
</div>




<!-- Analysis Tabs -->
<div id="analysis-section">
    <h3>Analysis</h3>
    <div class="tabs">
        <button class="tab-button" onclick="openTab(event, 'sensitivity-analysis')">Sensitivity Analysis</button>
        <button class="tab-button" onclick="openTab(event, 'scenario-analysis')">Scenario Analysis</button>
        <button class="tab-button" onclick="openTab(event, 'rbpl-analysis')">RBPL Analysis</button>
    </div>
    <div id="sensitivity-analysis" class="tab-content" style="display: block;"> <!-- Default display is block -->
        <h4>Sensitivity Analysis</h4>
        <form id="sensitivity-form" onsubmit="return false;" class="form-grid">
            <input type="hidden" name="analysis_type" value="sensitivity">
            <input type="hidden" name="ticker" value="{{ form_data.ticker }}">
            <input type="hidden" name="risk_free_rate" value="{{ form_data.risk_free_rate }}">
            <input type="hidden" name="dividend_yield" value="{{ form_data.dividend_yield}}">
            <input type="hidden" name="convenience_yield" value="{{ form_data.convenience_yield}}">
            <input type="hidden" name="storage_cost" value="{{ form_data.storage_cost}}">
            <input type="hidden" name="entry_date" value="{{ form_data.entry_date }}">
            <input type="hidden" name="settlement_date" value="{{ form_data.settlement_date }}">
            <input type="hidden" name="settlement_price" value="{{ form_data.settlement_price }}">
            <input type="hidden" name="num_contracts" value="{{ form_data.num_contracts }}">
            <input type="hidden" name="multiplier" value="{{ form_data.multiplier }}">
            <input type="hidden" name="position" value="{{ form_data.position }}">
            <input type="hidden" name="contract_fee" value="{{ form_data.contract_fee }}">
            <input type="hidden" name="time_to_maturity" value="{{ form_data.time_to_maturity }}">
            <input type="hidden" name="model_selection" value="{{ form_data.model_selection }}">

            <div class="form-group">
                <label for="number_of_steps">Number of Steps (i.e., 10):</label>
                <input type="number" id="number_of_steps" name="number_of_steps" value="{{ form_data.num_steps }}" required>
            </div>
            <div class="form-group">
                <label for="sens_step_range">Step Range (i.e., 0.02):</label>
                <input type="number" step="0.01" id="sens_step_range" name="sens_step_range" value="{{ form_data.step_range }}" required>
            </div>
            <div class="form-group">
                <label for="variable">Input Variable:</label>
                <select id="variable" name="variable" required>
                    <option value="risk_free_rate" {% if form_data.variable == 'risk_free_rate' %}selected{% endif %}>Risk Free Rate</option>
                    <option value="dividend_yield" {% if form_data.variable == 'dividend_yield' %}selected{% endif %}>Dividend Yield</option>
                    <option value="convenience_yield" {% if form_data.variable == 'convenience_yield' %}selected{% endif %}>Convenience Yield</option>
                </select>
            </div>
            <div class="form-group full-width">
                <button type="button" onclick="submitForm('sensitivity-form', '/futures-forwards/forwards', 'sensitivity-results');">Run Sensitivity Analysis</button>
            </div>
        </form>
        <div id="sensitivity-results" class="sens-results">
            {% if forward_sensitivity_analysis_results %}
            <div class="result">
                <h4>Sensitivity Analysis Results</h4>
                <img src="{{ url_for('static', filename=session['forward_sensitivity_analysis_results']['plot_filename']) }}" alt="Plot">
            {% endif %}
            </div>
        </div>
    </div>

    <!-- Scenario Analysis Tab Content -->
    <div id="scenario-analysis" class="tab-content">
        <h4>Scenario Analysis</h4>
        <form id="scenario-form" onsubmit="return false;" class="form-grid">
            <input type="hidden" name="analysis_type" value="scenario">
            <input type="hidden" name="ticker" value="{{ form_data.ticker }}">
            <input type="hidden" name="risk_free_rate" value="{{ form_data.risk_free_rate }}">
            <input type="hidden" name="dividend_yield" value="{{ form_data.dividend_yield}}">
            <input type="hidden" name="convenience_yield" value="{{ form_data.convenience_yield}}">
            <input type="hidden" name="storage_cost" value="{{ form_data.storage_cost}}">
            <input type="hidden" name="entry_date" value="{{ form_data.entry_date }}">
            <input type="hidden" name="settlement_date" value="{{ form_data.settlement_date }}">
            <input type="hidden" name="settlement_price" value="{{ form_data.settlement_price }}">
            <input type="hidden" name="num_contracts" value="{{ form_data.num_contracts }}">
            <input type="hidden" name="multiplier" value="{{ form_data.multiplier }}">
            <input type="hidden" name="position" value="{{ form_data.position }}">
            <input type="hidden" name="contract_fee" value="{{ form_data.contract_fee }}">
            <input type="hidden" name="time_to_maturity" value="{{ form_data.time_to_maturity }}">
            <input type="hidden" name="model_selection" value="{{ form_data.model_selection }}">

            <div class="form-group">
                <label for="rate_scenario">Interest Rate Scenario:</label>
                <select id="rate_scenario" name="rate_scenario" required>
                    <option value="-0.05">-5%</option>
                    <option value="-0.02">-2%</option>
                    <option value="-0.01">-1%</option>
                    <option value="0">0%</option>
                    <option value="0.01">1%</option>
                    <option value="0.02">2%</option>
                    <option value="0.05">5%</option>
                </select>
            </div>
            <div class="form-group">
                <label for="div_scenario">Dividend Yield Scenario:</label>
                <select id="div_scenario" name="div_scenario" required>
                    <option value="-0.05">-5%</option>
                    <option value="-0.02">-2%</option>
                    <option value="-0.01">-1%</option>
                    <option value="0">0%</option>
                    <option value="0.01">1%</option>
                    <option value="0.02">2%</option>
                    <option value="0.05">5%</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cc_scenario">Convenience Yield Scenario:</label>
                <select id="cc_scenario" name="cc_scenario" required>
                    <option value="-0.25">-25%</option>
                    <option value="-0.2">-20%</option>
                    <option value="-0.1">-10%</option>
                    <option value="0">0%</option>
                    <option value="0.1">10%</option>
                    <option value="0.2">20%</option>
                    <option value="0.25">25%</option>
                </select>
            </div>
            <div class="form-group full-width">
                <button type="button" onclick="submitForm('scenario-form', '/futures-forwards/forwards', 'scenario-results');">Run Scenario Analysis</button>
            </div>
        </form>
        <!-- Scenario Analysis Results -->
        <div id="scenario-results" class="sens-results">
            {% if forward_scenario_results %}
            <h4>Scenario Analysis Results</h4>
            <table class="results-table">
                <thead>
                    <tr>
                        <th>Scenarios</th>
                        <th>Forward Price</th>
                        <th>Forward P&L</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Baseline</td>
                        <td>{{ session['forward_scenario_results']['baseline_scenario_table']['baseline_forwardPrice'] }}</td>
                        <td>{{ session['forward_scenario_results']['baseline_scenario_table']['baseline_forwardPL'] }}</td>
                    </tr>
                    <tr>
                        <td>Stressed</td>
                        <td>{{ session['forward_scenario_results']['stressed_scenario_table']['stressed_forwardPrice'] }}</td>
                        <td>{{ session['forward_scenario_results']['stressed_scenario_table']['stressed_forwardPL'] }}</td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    <!-- RBPL Analysis Results -->
    <div id="rbpl-analysis" class="tab-content">
        <h4>RBPL Analysis</h4>
        <form id="rbpl-form" method="post" class="form-grid">
            <input type="hidden" name="analysis_type" value="risk_pl">
            <input type="hidden" name="ticker" value="{{ form_data.ticker }}">
            <input type="hidden" name="risk_free_rate" value="{{ form_data.risk_free_rate }}">
            <input type="hidden" name="dividend_yield" value="{{ form_data.dividend_yield}}">
            <input type="hidden" name="convenience_yield" value="{{ form_data.convenience_yield}}">
            <input type="hidden" name="storage_cost" value="{{ form_data.storage_cost}}">
            <input type="hidden" name="entry_date" value="{{ form_data.entry_date }}">
            <input type="hidden" name="settlement_date" value="{{ form_data.settlement_date }}">
            <input type="hidden" name="settlement_price" value="{{ form_data.settlement_price }}">
            <input type="hidden" name="num_contracts" value="{{ form_data.num_contracts }}">
            <input type="hidden" name="multiplier" value="{{ form_data.multiplier }}">
            <input type="hidden" name="position" value="{{ form_data.position }}">
            <input type="hidden" name="contract_fee" value="{{ form_data.contract_fee }}">
            <input type="hidden" name="time_to_maturity" value="{{ form_data.time_to_maturity }}">
            <input type="hidden" name="model_selection" value="{{ form_data.model_selection }}">
            
            <div class="form-group">
                <label for="price_change">Bump in Spot Price (%, 0.05):</label>
                <input type="number" step="0.01" id="price_change" name="price_change" value="{{ form_data.price_change }}" required>
            </div>
            <div class="form-group full-width">
                <button type="submit" name="run_risk_pl_analysis" onclick="this.form.dataset.action='run_risk_pl_analysis';">Run RBPL Analysis</button>
            </div>
        </form>
        {% if forward_risk_pl %}
        <div id="rbpl-results">
            <div class="result">
            <h4>Results:</h4>
                <div class="horizontal-table">
                    <div class="table-row">
                        <div class="table-cell">Actual P&L</div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">{{ forward_risk_pl['Actual P&L'] }}</div>
                    </div>
                    <br>
            <h4>Intermediate Calculations:</h4>
                    <div class="table-row">
                        <div class="table-cell">Initial Price</div>
                        <div class="table-cell">Bump Price</div>
                        <div class="table-cell">Actual P&L Price</div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">{{ forward_risk_pl['Initial Price'] }}</div>
                        <div class="table-cell">{{ forward_risk_pl['Bumped Price'] }}</div>
                        <div class="table-cell">{{ forward_risk_pl['Actual P&L'] }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>


<!-- JavaScript for Form Submission and Loading Spinner -->
<script>
document.getElementById('options-form').addEventListener('submit', function(event) {
    var loadingSpinner = document.getElementById('loadingSpinner');
    loadingSpinner.style.display = 'block';  // Show spinner on form submit

    window.addEventListener('load', function() {
        loadingSpinner.style.display = 'none';  // Hide spinner on page load
    });
});

// JavaScript for AJAX Form Submission
function submitForm(formId, url, updateId) {
    var form = document.getElementById(formId);
    var formData = new FormData(form);
    var xhr = new XMLHttpRequest();

    xhr.open("POST", url, true);

    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
            console.log("Form submitted successfully");
            var parser = new DOMParser();
            var doc = parser.parseFromString(xhr.responseText, 'text/html');

            // Update the relevant section
            var updateSection = doc.getElementById(updateId);
            if (updateSection) {
                document.getElementById(updateId).innerHTML = updateSection.innerHTML;
                // Show the results section after successfully updating it
                document.getElementById(updateId).style.display = 'block';
            } else {
                console.log("Update section not found");
            }
        } else if (xhr.readyState === 4) {
            console.log("Error in form submission: " + xhr.status);
        }
    };

    xhr.onerror = function() {
        console.log("Request failed");
    };

    xhr.send(formData);
}

// JavaScript for Tabs
function openTab(evt, tabName) {
    var i, tabcontent, tablinks;

    // Hide all tab contents
    tabcontent = document.getElementsByClassName("tab-content");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Hide the sensitivity results
    const resultsSection = document.getElementById('sensitivity-results');
    resultsSection.style.display = "none";

    // Remove the active class from all tab buttons
    tablinks = document.getElementsByClassName("tab-button");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab content and add an active class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}

// By default, open the first tab
document.addEventListener("DOMContentLoaded", function() {
    document.querySelector(".tab-button").click();
});
</script>

{% endblock %}